server:
  port: 8086

spring:
  application:
    name: chatting-service

  # WebFlux 명시
  main:
    web-application-type: reactive

  r2dbc:
    url: r2dbc:mysql://localhost:3316/chatting_system_db?useUnicode=true&characterEncoding=utf8&serverTimezone=Asia/Seoul&sslMode=DISABLED
    username: root      # docker-compose의 MYSQL_USER
    password: password  # docker-compose의 MYSQL_PASSWORD
    pool:
      initial-size: 5
      max-size: 20      # WebFlux는 적은 커넥션으로도 높은 처리량을 냄
      max-life-time: 30m
      validation-query: SELECT 1

  sql:
    init:
      mode: never # always로 변경 시 schema.sql 실행

logging:
  level:
    root: INFO
    # R2DBC 쿼리 로그 확인 (개발용)
    org.springframework.r2dbc: DEBUG
    io.asyncer.r2dbc.mysql: DEBUG